h1{
    text-align: center;
}
input{
    width: 12%;
    text-align: center;

}
.allbut{
    float: right;
}
.noitem{
    text-align: center;
    font-size: large;
    color: red;
}
.btn-success{
    margin-left: 46.5%;
}
.btn-danger{
    margin-left: 5%;
}
.price{
    text-align: center;
    font-size: large;
    font: 1.2em "Fira Sans", sans-serif;
    margin-top: 8%;
    font-style:italic;
    font-weight: bold;
}
.text{
    margin-top: 30%;
}
.itemsli{
    margin-top: 3%;
    font-size: 18px;
}
.quant{
    margin-right: 3%;
}
.btn-primary{
    height:32px;
}
.pricein{
    margin-left: 2%;
}