.Auth-form-content{
    width: 50%;
    margin-left: 20%;
    margin-top: 5%;
    background-color: rgb(247, 247, 247);
    padding: 2%;
    box-shadow: 5px 5px 5px 5px;
}
h3{
    text-align: center;
}
body{
    background-color: rgba(179, 173, 173, 0.315);
}