
.badge{
    margin-right: 23%;
    width: 40%;
    font-size:medium;
}
#delivery{
width:100%;
}
.scrollspy-example{
    width: 80%;
    padding-left: 5%;
}
.align-items-center {
    align-items: center!important;
    padding-top: 3%;
}